Repository jgm/pandoc, pull requests merged in 2020-11, with the labels that each got.

#6794 Add documentation for pandoc's handling of JATS
  doc/jats.md
Labels: docs, format:JATS

#6815 doc/filters.md: describe technical details of filter invocations
  doc/filters.md
  src/Text/Pandoc/Options.hs
Labels: docs

#6840 CONTRIBUTING: describe hlint and how it's used
  CONTRIBUTING.md
Labels: docs

#6851 JATS writer: support advanced table features
  .github/workflows/format-validation.yml
  src/Text/Pandoc/Writers/JATS.hs
  src/Text/Pandoc/Writers/JATS/Table.hs
  test/Tests/Old.hs
  test/tables.jats_archiving
  test/tables.jats_articleauthoring
  test/tables.jats_publishing
  test/tables/nordics.jats_archiving
  test/tables/planets.jats_archiving
  test/tables/students.jats_archiving
Labels: enhancement, format:JATS, writer

#6867 JATS writer: support author affiliations
  data/templates/affiliations.jats
  data/templates/article.jats_publishing
  data/templates/default.jats_articleauthoring
  doc/jats.md
Labels: format:JATS, templates, writer

#6877 HTML reader: extract submodules
  pandoc.cabal
  src/Text/Pandoc/Readers/HTML.hs
  src/Text/Pandoc/Readers/HTML/Parsing.hs
  src/Text/Pandoc/Readers/HTML/TagCategories.hs
  src/Text/Pandoc/Readers/HTML/Types.hs
Labels: format:HTML, reader

#6892 CONTRIBUTING: add section "How can I help?"
  CONTRIBUTING.md
Labels: docs

#6896 Fix a tiny Typo in the CSV reader module
  src/Text/Pandoc/Readers/CSV.hs
Labels: docs
