Repository jgm/pandoc, pull requests merged in 2022-06, with the labels that each got.

#8096 ConTeXt writer: unify link handling
  src/Text/Pandoc/Writers/ConTeXt.hs
  test/writer.context
Labels: writer, format:ConTeXt

#8106 ConTeXt writer: use "sectionlevel" environment for headings
  data/templates/default.context
  src/Text/Pandoc/Writers/ConTeXt.hs
  test/Tests/Writers/ConTeXt.hs
  test/command/3968.md
  test/writer.context
  test/writers-lang-and-dir.context
Labels: writer, format:ConTeXt

#8104 Lua: add function pandoc.mediabag.fill
  doc/lua-filters.md
  src/Text/Pandoc/Lua/Module/MediaBag.hs
Labels: enhancement, lua-filters

#8053 Add more class for detecting.
  src/Text/Pandoc/Writers/LaTeX.hs
Labels: enhancement, format:LaTeX, writer

#8116 ConTeXt writer: support complex table structures.
  data/templates/default.context
  src/Text/Pandoc/Writers/ConTeXt.hs
  test/Tests/Writers/ConTeXt.hs
  test/tables.context
  test/writer.context
  test/writers-lang-and-dir.context
Labels: enhancement, writer, format:ConTeXt
